@model DanceCompetition.Models.DancePair

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="grade1" class="control-label"></label>
        <select asp-for="grade1" class="form-control" asp-items="new SelectList(new List<int> { 1, 2, 3, 4, 5 })" required>
            <option value="">Select a grade</option>
        </select>
        <span asp-validation-for="grade1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Set grade" class="btn btn-primary" />
    </div>
</form>