@model DanceCompetition.Models.DancePairViewModel

@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Average Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FinishedContestants.OrderByDescending(x => x.getAverageGrade()))
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.name</td>
                <td>@item.getAverageGrade()</td>
            </tr>
        }
    </tbody>
</table>


