@model IEnumerable<DanceCompetition.Models.DancePair>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Grade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.grade1)
                    </td>
                    <td>
                        <a asp-action="EditGrade1" asp-route-id="@item.Id">Grade</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
